@font-face {
    font-family: 'ArtegraSans';
    src: url('ArtegraSans-Regular.woff2') format('woff2'), 
    url('ArtegraSans-Regular.woff2') format('woff');
  }
* {
    margin: 0;
    padding: 0;
    font-family: "ArtegraSans";
    color: white;
}
body {
    background-color: #efedea;
}
a , button {
    text-decoration: none;
    background-color: none;
    margin: 0;
    border: none;
}
/* header */
header {
    width: 80%; 
    height: 4vw;
    margin: 1vw auto;
    border-radius: 2vw;
    background-color: #77726e;
}
#flex-container-header {
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#flex-container-header button {
    display: none;
}
#flex-container-header span {
    font-size: 1.7vw;
    height: auto;
}
#flex-container-header span a {
    height: auto;
}
#tel-header img {
    height: 90%;
    width: 90%;
    padding: auto;
    background-color: #aea59d;
}
#tel-header  {
    padding: 0.2vw 1vw;
    background-color: #aea59d;
    border-radius: 40%;
    height: 60%;
    width: auto;
}

/* main */
#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#main-photo-container {
    margin-top: 4vw;
    width: 100%;
    height: auto;
    background-color: rgb(174, 165, 157 , 0.55);
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
}
#text-main-photo-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4vw;
    margin-right: auto;
    padding-bottom: 3vw;
    padding-top: 4vw;
}
#text-main-photo-container h1 {
    font-size: 3.5vw;
}
#text-main-photo-container h3 {
    font-size: 2.5vw;
    margin-top: 1vw;
}
#text-main-photo-container button {
    width: 60%;
    font-size: 2vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: #77726e;
    border-radius: 3vw;
    margin-top: 2vw;
}
#photo-main-photo {
    width: 50%;
    height: 80%;
    position: relative;
    left: 3vw;
    top: 1vw;
}
#photo-main-photo img {
    width: 120%;
    height: auto;
    transition: 2s;
}
#photo-main-photo img:hover {
    transform: scale(1.1);
}
/* primer */
#main-primer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vw;
}
#main-primer-container p {
    display: inline;
    width: auto;
    padding: 1vw 2vw;
    border-radius: 2.5vw;
    background-color: rgb(174, 165, 157 , 0.8);
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-size: 2.2vw;
}
#flex-main-primer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#flex-main-primer-container button {
    width: 21%;
    height: 17.6vw;
    margin-bottom: 1vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    background-color: #aea59d;
}
#flex-main-primer-container button img , #flex-main-primer-container button span {
    margin: auto;
    font-size: 2vw;
}
#flex-main-primer-container button img {
    width: 70%;
    height: 55%;
}
/* zapros */
#main-zapros-block {
    width: 100%;
    height: auto;
    background-color: rgb(180, 180, 180 , 0.7);
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-top: 4vw;
}
#main-zapros-container {
    width: 76.8%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(180, 180, 180 , 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
}
#text-main-zapros-container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 3vw;
}
#text-main-zapros-container h1 {
    font-size: 3vw;
    margin-bottom: 0.5vw;
}
#text-main-zapros-container h3 {
    font-size: 2.2vw;
}
#img-main-zapros-container {
    width: 22%;
    height: auto;
    background-color: rgb(180, 180, 180 , 0.7);
    margin-top: 2vw;
    margin-left: auto;
    margin-right: 3vw;
    border-radius: 2vw;
    padding: 1vw;
}
#img-main-zapros-container div {
    width: 90%;
    height: auto;
    margin: auto;
}
#img-main-zapros-container div img {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
}
#main-zapros {
    width: 60%;
    height: auto;
    background-color: rgb(174, 165, 157 , 0.6);
    margin: 0;
    margin-left: 3vw;
    border-radius: 2vw;
    margin-bottom: 2vw;
}
#main-zapros-mini-container h1 {
    margin-left: 2vw;
    margin-top: 1vw;
    font-size: 2.2vw;
}
#main-zapros div select {
    background-color: rgb(119, 114, 110 , 0.75);
    border: none;
    padding: 0.5vw 0.7vw;
    font-size: 1.6vw;
    border-radius: 2vw;
    display: inline-block;
    margin-left: 2vw;
}
#main-zapros-tel {
    display: flex;
    justify-content: space-around;
}
#main-zapros div input {
    background-color: rgb(119, 114, 110 , 0.75);
    padding: 0.5vw 0.7vw;
    font-size: 1.6vw;
    border-radius: 2vw;
    border: none;
    margin-top: 1vw;
    margin-left: 2vw;
    padding-left: 1vw;
    margin-bottom: 1vw;
}
#main-zapros div button {
    background-color: rgb(119, 114, 110 , 0.75);
    padding: 0.5vw 0.7vw;
    font-size: 1.6vw;
    border-radius: 2vw;
    border: none;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
/* zamer */
#zamer-page {
    width: 100%;
    background-color: #efedea;
    height: auto;
}
#zamer-container { 
    width: 74.8%;
    height: auto;
    padding: 1vw;
    background-color: rgba(174, 165, 157, 0.8);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#h1text-zamer {
    font-size: 2.5vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border-bottom: 0.2vw solid white;
}
#h3text-zamer {
    display: block;
    font-size: 2.1vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}
#name-zamer {
    display: flex;
    margin-left: 3vw;
    margin-top: 3vw;
}
#name-zamer p {
    font-size: 1.8vw;
    margin-right: 1vw;
}
#photo1-zamer {
    width: 15%;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    left: 75%;
    bottom: 23vw;
    transform: scaleX(-1) rotate(-10deg);

}
#photo2-zamer {
    width: 20%;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    right: 6%;
    bottom: 17vw;
}
#tel-zamer  select {
    font-size: 1.8vw;
    background-color: rgba(174, 165, 157, 0);
    border: none;
    margin: 0;
    margin-left: 25%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
#tel-zamer input , #name-zamer input {
    height: 3vw;
    border-radius: 2vw;
    background-color: #aea59d;
    font-size: 1.6vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    border: none;
}
/* services */
#ser-page {
    width: 100%;
    height: auto;
    margin-top: -12vw;
}
#ser-page h1 {
    display: inline-block;
    font-size: 2.5vw;
    margin: 0;
    margin-left: 5vw;
    margin-right: auto;
    margin-top: 0vw;
    padding: 1vw 2vw;
    background-color: rgba(174, 165, 157, 0.7);
    border-radius: 3vw;
}
#ser-block {
    width: 95%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}
#front , #back {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    align-self: center;
    background-color: none;
}
#front  img , #back img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: none;
    box-shadow: inset 1em 0px rgb(239, 237, 234) , 1em 0px rgba(119, 114, 110, 0.75) , inset 10em 0px rgba(119, 114, 110, 0.75);
}
#back img {
    transform: rotate(180deg);
}
#ser-block div div {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #aea59d;
    border-radius: 2vw;
}
#ser-block div div h3 {
    font-size: 2.2vw;
    margin-left: 1vw;
    margin-right: auto;
}
#ser-block div div img {
    width: 80%;
    margin: 1vw auto;
    border-radius: 2vw;
}
#ser-block div div button {
    align-self: center;
    width: auto;
    font-size: 1.8vw;
    height: auto;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    margin-top: auto;
    margin-bottom: 1vw;
    background-color: rgba(119, 114, 110, 0.75);
}
#ser-block div div p {
    width: 90%;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8vw;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
#page-1-ser , #page-2-ser , #page-3-ser , #page-4-ser {
    display: flex;
    justify-content: space-around;
    width: 44%;
}
#page-3-ser , #page-4-ser {
    display: none;
}
/* plus */
#advantages-page {
    width: 100%;
    height: auto;
}
#advantages-page h1 {
    display: inline-block;
    font-size: 2.5vw;
    margin: 0;
    margin-left: 3vw;
    margin-right: auto;
    margin-top: 2vw;
    padding: 1vw;
    background-color: rgba(174, 165, 157, 0.7);
    border-radius: 3vw;
}
#advantages-page #advantages-block {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vw auto;
}
#advantages-page #advantages-block  div {
    width: 31%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: rgba(174, 165, 157, 0.15);
    margin-top: 2vw;
    border-radius: 2vw;
    height: 17vw;
}
#advantages-page #advantages-block  img {
    width: 35%;
    height: auto;
    margin: 0;
    margin-right: auto;
    margin-left: 2vw;
    margin-top: 1vw;
}
#advantages-page #advantages-block  p {
    width: 60%;
    height: auto;
    word-break: keep-all;
    margin-top: 1vw;
    font-size: 1.5vw;
}
#advantages-page #advantages-block  h3 {
    display: block;
    width: auto;
    height: auto;
    word-break: keep-all;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    font-size: 2vw;
}

@media screen and (max-width:1100px) {
    header {
        width: 90%;
        height: 6vw;
        border-radius: 3vw;
    }
    #tel-header  {
        padding: 0.2vw 1.2vw;
        border-radius: 35%;
    }
    #main {
        width: 90%;
    }
    #photo-main-photo img{
        width: 105%;
    }
    #main-zapros-container {
        width: 90%;
    }
    #zamer-container {
        width: 88%;
    }
    #photo1-zamer {
        width: 15%;
        left: 78%;
        bottom: 27vw;
        width: 18%;
    }
    #photo2-zamer {
        width: 20%;
        right: 16%;
        bottom: 20vw;
        width: 23%;
    }
    #flex-container-header span a {
        font-size: 2.3vw;
    }
    #text-main-photo-container button {
        font-size: 2.5vw;
    }
    #text-main-photo-container h1 {
        font-size: 4vw;
    }
    #text-main-photo-container h3 {
        font-size: 3.3vw;
        font-weight: 500;
    }
    #main-primer-container p {
        font-size: 2.7vw;
    }
    #flex-main-primer-container button span {
        font-size: 2.2vw;
    }
    #text-main-zapros-container h1 {
        font-size: 3.5vw;
    }
    #text-main-zapros-container h3 {
        font-size: 2.7vw;
    }
    #main-zapros-mini-container h1 {
        font-size: 2.7vw;
    }
    #main-zapros div input {
        padding: 0.7vw 1.2vw;
        font-size: 2vw;
    }
    #main-zapros div select {
        padding: 0.7vw 0.7vw;
        font-size: 2vw;
    }
    #main-zapros div button {
        font-size: 2vw;
    }
    #h1text-zamer {
        font-size: 3vw;
    }
    #h3text-zamer {
        font-size: 2.7vw;
    }
    #tel-zamer select , #name-zamer p {
        font-size: 2.4vw;
    }
    #tel-zamer input , #name-zamer input{
        padding: 2vw 1vw;
        font-size: 2vw;
    }
    #ser-page h1 {
        font-size: 2.7vw;
    }
    #ser-block div div h3 {
    font-size: 2.5vw;
    }
    #ser-block div div button {
    font-size: 2vw;
    }
    #ser-block div div p {
        font-size: 2vw;
    }
    #front img , #back img {
        box-shadow: inset 0.5em 0px rgb(239, 237, 234) , 0.5em 0px rgba(119, 114, 110, 0.75) , inset 10em 0px rgba(119, 114, 110, 0.75);
    }
}
@media screen and (max-width:800px) {
    header {
        width: 90%;
        height: 6vw;
        border-radius: 3vw;
    }
    #tel-header  {
        padding: 0.2vw 1.2vw;
        border-radius: 35%;
    }
    #main {
        width: 90%;
    }
    #photo-main-photo img{
        width: 105%;
    }
    #main-zapros-container {
        width: 90%;
    }
    #zamer-container {
        width: 88%;
    }
    #photo1-zamer {
        width: 15%;
        left: 78%;
        bottom: 27vw;
        width: 18%;
    }
    #photo2-zamer {
        width: 20%;
        right: 16%;
        bottom: 20vw;
        width: 23%;
    }
    /* #page-2-ser {
        display: none;
    }
    #page-1-ser {
        width: 88%;
    } */
    #flex-container-header span a {
        font-size: 2.3vw;
    }
    #text-main-photo-container button {
        font-size: 2.5vw;
    }
    #text-main-photo-container h1 {
        font-size: 4vw;
    }
    #text-main-photo-container h3 {
        font-size: 3.3vw;
        font-weight: 500;
    }
    #main-primer-container p {
        font-size: 2.7vw;
    }
    #flex-main-primer-container button span {
        font-size: 2.2vw;
    }
    #text-main-zapros-container h1 {
        font-size: 3.5vw;
    }
    #text-main-zapros-container h3 {
        font-size: 2.7vw;
    }
    #main-zapros-mini-container h1 {
        font-size: 2.7vw;
    }
    #main-zapros div input {
        padding: 0.7vw 1.2vw;
        font-size: 2vw;
    }
    #main-zapros div select {
        padding: 0.7vw 0.7vw;
        font-size: 2vw;
    }
    #main-zapros div button {
        font-size: 2vw;
    }
    #h1text-zamer {
        font-size: 3vw;
    }
    #h3text-zamer {
        font-size: 2.7vw;
    }
    #tel-zamer select , #name-zamer p {
        font-size: 2.4vw;
    }
    #tel-zamer input , #name-zamer input{
        padding: 2vw 1vw;
        font-size: 2vw;
    }
    #ser-page h1 {
        font-size: 2.7vw;
    }
    #ser-block div div h3 {
    font-size: 2.5vw;
    }
    #ser-block div div button {
    font-size: 2vw;
    }
    #ser-block div div p {
        font-size: 2vw;
    }
    #front img , #back img {
        box-shadow: inset 0.5em 0px rgb(239, 237, 234) , 0.5em 0px rgba(119, 114, 110, 0.75) , inset 10em 0px rgba(119, 114, 110, 0.75);
    }
}
@media screen and (max-width:600px) {
    header div {
        background-color: rgb(239, 237, 234);
    }
    header div div span , header div div a {
        display: none;
    }
    #flex-container-header {
        justify-content: flex-end;
    }
    #flex-container-header button {
        position: fixed;
        display: block;
        height: 8vw;
        width: 8vw;
        border: none;
        margin-top: 3vw;
        z-index: 10;
        background: transparent;
    }
    #flex-container-header button img {
        height: 100%;
        width: 100%;

    }
    #main {
        width: 90%;
    }
    #photo-main-photo img{
        width: 105%;
    }
    #main-zapros-container {
        width: 90%;
    }
    #zamer-container {
        width: 88%;
    }
    #photo1-zamer {
        width: 15%;
        left: 80%;
        bottom: 32vw;
        width: 18%;
    }
    #photo2-zamer {
        width: 20%;
        right: 17%;
        bottom: 21vw;
        width: 23%;
    }
    #flex-container-header span a {
        font-size: 2.3vw;
    }
    #main-photo-container {
        flex-direction: column;
    }
    #text-main-photo-container button {
        font-size: 4.4vw;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 58vw;
        border-radius: 4vw;
    }
    #text-main-photo-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #text-main-photo-container h1 {
        font-size: 7vw;
    }
    #text-main-photo-container h3 {
        font-size: 4.5vw;
        font-weight: 500;
    }
    #photo-main-photo img {
        position: relative;
        bottom: 12vw;
        left: 2vw;
        width: 200%;
    }
    #main-primer-container p {
        font-size: 5vw;
        margin-bottom: 5vw;
        margin-top: 8vw;
    }
    #flex-main-primer-container button {
        width: 46%;
        height: 31vw;
        margin-bottom: 2vw;
    }
    #flex-main-primer-container button img {
        margin-top: 2vw;
        margin-bottom: 1vw;
        width: 80%;
        height: auto;
    }
    #flex-main-primer-container button span {
        font-size: 4.3vw;
    }
    #main-zapros-block {
        margin-top: 7vw;
    }
    #text-main-zapros-container h1 {
        font-size: 5.5vw;
    }
    #text-main-zapros-container h3 {
        font-size: 4.2vw;
    }
    #main-zapros-mini-container h1 {
        font-size: 4.5vw;
    }
    #main-zapros {
        width: 93.5%;
        margin-top: 3vw;
    }
    #main-zapros div input {
        padding: 1vw 1.2vw;
        font-size: 4vw;
        border-radius: 3.5vw;
    }
    #main-zapros div select {
        padding: 1vw 1.2vw;
        font-size: 4vw;
        border-radius: 4vw;
        margin: 1vw 2vw;
    }
    #main-zapros div button {
        font-size: 4vw;
        padding: 1vw 1.5vw;
        border-radius: 3.5vw;
    }
    #h1text-zamer {
        font-size: 5.3vw;
    }
    #h3text-zamer {
        font-size: 3.3vw;
    }
    #name-zamer {
        margin-top: 5vw;
    }
    #tel-zamer {
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    #tel-zamer select , #name-zamer p {
        font-size: 4vw;
    }
    #tel-zamer select {
        margin-left: 9vw;
    }
    #tel-zamer input , #name-zamer input{
        padding: 3vw 0vw;
        font-size: 3vw;
        border-radius: 3.5vw;
    }
    #ser-block {
        width: 90%;
    }
    #ser-page h1 {
        font-size: 5vw;
    }
    #ser-block div {
        width: 84%;
    }
    #page-2-ser {
        display: none;
    }
    #ser-block div div {
        border-radius: 4vw;
    }
    #ser-block div div img {
        border-radius: 4vw;
        width: 85%;
    }
    #front , #back {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }
    #ser-block div div h3 {
        font-size: 4vw;
    }
    #ser-block div div button {
        font-size: 3.5vw;
        padding: 1.3vw 1.3vw;
        border-radius: 4vw;
    }
    #ser-block div div p {
        font-size: 3.3vw;
    }
    #front img , #back img {
        box-shadow: inset 0.4em 0px rgb(239, 237, 234) , 0.4em 0px rgba(119, 114, 110, 0.75) , inset 10em 0px rgba(119, 114, 110, 0.75);
    }
}
